/* navigation style */
nav {
    /* background of navigation style */
    background: #aed8e6;
    /* float of nav is none */
    float: none;
    /* display of nav is block */
    display: block;
}

/* header style */
header {
    /* background of header */
    background: #d3d3d39e;
}

/* list style */
li {
    /* display of list is inline-block */
    display: inline-block;
    /* list style of list tag is none */
    list-style: none;
    /* padding of list is 10 pixel */
    padding: 10px;
    /* width of list tag is auto */
    width: auto;
}

/* img style */
img {
    /* display of img syle is inline-block */
    display: inline-block;
}

/* body style */
body {
    /* font family of body */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font size of body */
    font-size: medium;
}

/* heading 1 tag */
h1 {
    /* text align of h1 is center */
    text-align: center;
    /* font family of h1 tag */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* color of h1 is blue */
    color: blue;
}

/* main tag */
main {
    /* background of main tag is yellow */
    background-color: yellow;
    /* font size of main tag is medium */
    font-size: medium;
}

/* footer tag */
footer {
    /* background of footer tag */
    background: #d3d3d39e;
}

/* p tag */
p {
    /* line height of pagagraph tag */
    line-height: normal;
}